.top {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    z-index: 5;
}

.topIcon{
    font-size: 20px;
    margin: 3px;
    color: #444;
    cursor: pointer;
}

.topCenter {
    flex: 6;
}

.topLeft, .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topImg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    object-fit: cover;
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}

@media screen and (max-width: 480px) {
    .top {
        position: fixed;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }

    .topIcon{
        font-size: 20px;
        margin: 3px;
        color: #444;
        cursor: pointer;
        font-size: 12px;
    }

    .topSearchIcon {
        margin-left: 7px;
    }

    .topListItem {
       margin-top:4px;
       font-size: 8px;
    }

    .topLeft, .topRight {
        flex: 1;
    }

    .topCenter{
       display: flex;
    }

    .topListItem {
        margin-right: 15px;
    }

}