.header {
    margin-top: 10px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}

.headerTitleSm {
    position: absolute;
    top: 10%;
    font-size: 20px;
}

.headerTitleLg {
    position: absolute;
    top: 12%;
    font-size: 100px;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}

@media screen and (max-width: 480px ) {
    .headerImg {
        width: 100vw; 
        height: 250px;  
    }

    .headerTitleSm {
        position: absolute;
       font-size: 15px;
       top: 9%;
    }
    
    .headerTitleLg {
        position: absolute;
       font-size: 50px;
       top: 12%;
    }
}